.navbar {
    background: darkcyan;
}
.nav {
    grid-area: n;
    padding: 20px;
}

.item {
    margin-top: 5px;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a.activeLink {
    background: orangered;
}
